.authcontainer {
  max-width: 420px;
  margin: 2rem auto;
}

.authcontainer a {
  color: #04acac !important;
}

.authcontainer button[type="submit"] {
  background: #04acac !important;
}

.authcontainer input:focus {
  border-color: #04acac !important;
}

.authcontainer .sbui-typography-text-danger {
  top: 3px !important;
  position: absolute !important;
}
