:root {
  --gray-0: #fefeff;
  --gray-1: #fafbfb;
  --gray-2: #dbdcdd;
  --gray-3: #a7a5a6;
  --gray-4: #656263;
  --gray-5: #231f20;
  --gray-6: #201c1d;
  --gray-7: #1a1718;
  --gray-8: #151313;
  --gray-9: #110f10;
  --aqua-0: "#f2fcfc";
  --aqua-1: "#e6f9f9";
  --aqua-2: "#c0efef";
  --aqua-3: "#9be5e5";
  --aqua-4: "#4fd2d2";
  --aqua-5: "#04BFBF";
  --aqua-6: "#04acac";
  --aqua-7: "#038f8f";
  --aqua-8: "#027373";
  --aqua-9: "#025e5e";
  --mulberry-0: "#f7f3f5";
  --mulberry-1: "#eee7eb";
  --mulberry-2: "#d6c2cd";
  --mulberry-3: "#bd9dae";
  --mulberry-4: "#8b5472";
  --mulberry-5: "#590b35";
  --mulberry-6: "#500a30";
  --mulberry-7: "#430828";
  --mulberry-8: "#350720";
  --mulberry-9: "#2c051a";
  --primary: var(--gray-9);
  --primary-2: var(--gray-7);
  --secondary: var(--gray-0);
  --secondary-2: var(--gray-2);
  --text-base: var(--gray-9);
  --text-primary: var(--gray-9);
  --text-primary-2: var(--gray-7);
  --text-secondary: var(--gray-0);
  --text-secondary-2: var(--gray-2);
  --font-sans: -apple-system, system-ui, blinkmacsystemfont, "Helvetica Neue", "Helvetica",
    sans-serif;
  --font-serif: georgia, "Times New Roman", times, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-aqua-500 ring-opacity-80;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

html,
body,
.app {
  background-color: var(--gray-9);
  color: var(--gray-0);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

.fadeIn {
  -webkit-animation-name: fadein;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.height-screen-helper {
  height: var(--vh100-offset);
}
